input[type="email"],
input[type="password"],
input[type="text"]
 {
  width: 100%;
  line-height: 1.5rem;
  border-radius: 0.3rem;
  height: 2rem;
  padding: 0.2rem;
  border: 1px solid #ccc;
  margin-top: 0.3rem;
}
input[type="email"]::placeholder,
input[type="password"]::placeholder,
input[type="text"]::placeholder{
  text-transform: capitalize;
  font-size: 11px;
  font-weight: lighter;
}
.submit-btn {
  width: 100%;
  padding: 0.3rem;
  border: 0;
  border-radius: 0.2rem;
  background: var(--side-bar);
  color: var(--white);
  text-transform: capitalize;
  cursor: pointer;
}