.analysis{
    display: flex;
     padding: .7rem .7rem 0 .7rem;
    gap: .6rem;
    text-transform: capitalize;
    /* background: blue; */
}
.graph{
    border: 1px solid #ccc;
    width: 50%;
    border-radius: .5rem;
    padding: 1rem;
}

.graph .chart-container{
    width: 100%;
    font-size: 10rem;
    height: 200px; /* increase or change to desired chart height */
}
.header{
    border-bottom: 1px solid #cccccc62;
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: .7rem;
    padding: .5rem 0;

}
.header span{
    background: var(--side-bar);
    border-radius: .2rem;
    padding: .2rem;
    color: #fff;
    font-size: 14px;
}
.withdrawal{
    border: 1px solid #ccc;
    width: 50%;
    border-radius: .5rem;
    padding: 1rem;
}
.userprofile-info{
    display: flex;
    justify-content: space-between;
    font-size: .7rem;
    margin-top: 2rem;
    
}
.userprofile-info img{
    border-radius: 50%;
    width: 7%;
}
.userprofile-info p{
    color: #ccc;
}
.withdrawal p{
    margin-top: .3rem;
    font-size: .6rem;
    font-weight: 500;
}
.withdrawal h6{
    margin-top: 1rem;
    margin-bottom: .8rem;
}
.withdraw{
    width: 100%;
    margin-top: 3rem;
    padding: .6em;
    background: var(--side-bar);
    color: #fff;
    text-transform: capitalize;
    border-radius: .3rem;
    font-size: .7rem;
    border: 0;
    cursor: pointer;
    transition: all ease-in-out .3s;
}
.withdraw:hover{
transform: scale(1.05);
background: transparent;
color: var(--side-bar);
border: 1px solid var(--outline-border);
}
@media screen and (max-width:768px){
    .analysis{
        flex-wrap: wrap;
    }
    .graph,
    .withdrawal{
        width: 100%;
    }
}
