@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
:root {
  --sidebar-font-size: 18px;
  --header-font-size: 16px;
  --button-font-size: 14px;
  --cards-font-size: 12px;
  --small-font-size: 10px;
  --weight: 600;
  --weight2: 700;

  /* universal colors */
  --failed-transaction: #ffeded;
  --danger-color: #f21115;
  --successful-transaction: #edfff8;
  ---success-color: #02b369;
  --pending-transaction: #fff5ea;
  --pending-color: #c47010;
  --side-bar: rgb(1, 23, 69);
  --hover-state: #bfd3ff;
  --table-header: #23232475;
  --outline-border: #cbcdcc;
  --input: #cbcdcc4d;
  --payment-input-disabled: #bfd3ff30;
  --white: #fff;
}
hr{
   background-color: transparent;
    border: 1px solid #cccccc35;
}