@import url(base.css);

.card-wrapper{
    text-transform: capitalize;
    /* background: yellow; */
    padding: .7rem .7rem 0 .7rem;
}
.cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .9rem;
}
.card{
    width: 200px;
    height: 70px;
    border: 1px solid var(--outline-border);
    border-radius: .2rem;
    padding: .7rem;
    margin-bottom: .4rem;
}
.icon{
    display: flex;
    gap: .4rem;
    align-items: center;
    font-size: 10px;
}
.card h5{
    margin-bottom: .8rem;
}
.card span{
    background: var(--side-bar);
    padding: .2rem;
    border-radius: .2rem;
    color: #fff;
    font-size: 14px;
}