/* .layout {
  background: #d5f1e4;
  overflow: hidden;
  min-height: 100vh;

}
/* Align Navbar & Sidebar horizontally */
/* .top-row {
  display: flex;
  width: 100%;
  height: 70px;
}


.sidebar-wrapper {
  width: 220px;
  padding: 1rem;
  background: red;
  height: 100vh;
}
.sidebar-container{
    background: yellowgreen;
} */

/* Navbar fills remaining space */
/* .nav {
  flex: 1;
}


.page-content {
  background: rgba(218, 196, 239, 0.303);
  z-index: 999;
  position: absolute;
  width: 75%;
  right: 0;
}  */

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* MAIN LAYOUT */
.layout {
  height: 100vh;
  overflow: hidden;
}

/* NAV + SIDEBAR ROW */
.top-row {
  display: flex;
  width: 100%;
  height: 64px;
}
.top-row h1{
  font-size: .8rem;
  margin-top: 1.1rem;
  margin-left: 1rem;
  position: absolute;
  left: 20rem;
}

/* SIDEBAR */
.sidebar {
  width: 220px;
  flex-shrink: 0;
}

/* NAV */
.overview {
  flex: 1;
  /* background: #000; */
  margin-right: 1rem;
}

/* BODY */
.page-content {
  height: calc(100vh - 64px);
  overflow-y: auto;
  padding: 12px;
  width: 100%;
  /* background: #c7c3c3; */
}

