@import url(base.css);
.members{
    width: 50%;
    text-transform: capitalize;
    
}
figure{
    display: flex;
    justify-content: space-between;
    margin-bottom: .4rem;
    margin-right:  .5rem;
}
figure h1{
font-size: .6rem
}
figure p{
font-size: .6rem;
}
.members-list{
border: 1px solid #ccc;
border-radius: .3rem;
}
.members-profile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .3rem;
}
.members-profile p{
    font-size: .6rem;
    color: var(--side-bar);
    font-weight: 600;
    margin-right: 1.5rem;
}
.profile-info{
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: .3rem;
}
.profile-info h3{
    font-size: .6rem;
}
.profile-info img{
    width: 7%;
    border-radius: 50%;

}
hr{
    width: 100%;
    height: .1px;
}