@import url(base.css);

.overview {
  padding: 1rem;
  border-bottom: 1px solid var(--outline-border);
  width: 75%;
  position: relative;
  /* background: #000; */
}
.overview-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.intro {
  display: flex;
  align-items: center;
  text-transform: capitalize;
  gap: 0.5rem;
  width: 10rem
}
.intro h1 {
  font-size: 14px;
}
.intro p {
  font-size: 10px;
  color: var(--outline-border);
  margin-left: 5rem;
}
.profile {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: flex-end;
  text-transform: capitalize;
  font-size: 10px;
  font-weight: 600;
}
.profile img {
  border-radius: 50%;
  width: 7%;
}
.profile span{
  font-size: 17px;
}
