.content{
    /* display: flex; */
    min-width: 75%;
    float: right;
    /* color: #765353; */
    /* background: red; */
    text-transform: capitalize;
}
.payment-container h1{
   font-size: .6rem;
   padding: 0rem .7rem;
   color: var(--outline-border);


}
.payment-header{
    display: flex;
    justify-content: space-between;
    padding: .4rem .7rem;
}
.payment{
    display: flex;
    gap: 1rem;
    /* align-items: center; */
}
.payment input, select{
width: 11rem;
padding: .3rem 1rem;
border: 1px solid var(--outline-border);
border-radius: .3rem;
text-transform: capitalize;
}
.addpayment{
background-color: var(--side-bar);
color: #fff;
padding: .2rem 1rem;
border-radius: .3rem;
font-size: .6rem;
text-transform: capitalize;
border: 0;
cursor: pointer;
transition: all ease-in-out .3s;
}
.addpayment:hover{
transform: scale(1.05);
background: transparent;
color: var(--side-bar);
border: 1px solid var(--outline-border);
}
@media screen and (max-width: 1024px){
.content{
    width: 60%;
}
}
.button-header{
    display: flex;
    justify-content: space-between;
    padding: .4rem .7rem;
    width: 100%;
}
