@import url(base.css);

.sidebar-container{
    background: var(--side-bar);
    /* width: 30%; */
    color: var(--failed-transaction);
    padding: 1rem;
}
.sidebar-wrapper{
height: 100vh;
text-align: center;
}
.sidebar-wrapper img{
    width: 50%;
    margin-bottom: 1rem;
}
.links ul li{
    list-style: none;
    text-transform: capitalize;
    margin-top: 1.5rem;
    font-size: .6rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: .6rem;
    cursor: pointer;
    padding: .4rem .8rem;
}
.active{
    background: var(--hover-state);
    padding: .8rem 0;
    color: var(--side-bar);
    border-radius: .2rem;
}
.links{
    padding: 0 1rem;
}
.links span{
    font-size: 14px;
}
