@import url(base.css);

.sidebar-container {
  background: var(--side-bar);
  width: 25%;
  color: var(--failed-transaction);
  padding: 1rem;
  height: 100vh;
}
.sidebar-wrapper {
  height: 100vh;
  background: var(--side-bar);
  text-align: center;
}
.sidebar-wrapper img {
  width: 50%;
  margin-bottom: 1rem;
}
.links ul li {
  list-style: none;
  text-transform: capitalize;
  margin-top: 1.5rem;
  font-size: 0.6rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 0.6rem;
  cursor: pointer;
  padding: 0.4rem 0.8rem;
}
.links ul a {
  text-decoration: none;
  color: #fff;
  display: flex;
  gap: 0.6rem;
  align-items: center;
}
.active {
  background: var(--hover-state);
  padding: 0.8rem 0;
  color: var(--side-bar);
  border-radius: 0.2rem;
}
.links {
  padding: 0 1rem;
}
.links span {
  font-size: 14px;
}
