@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  --sidebar-font-size: 18px;
  --header-font-size: 16px;
  --button-font-size: 14px;
  --cards-font-size: 12px;
  --weight: 600;
  --weight2: 700;

  /* universal colors */
  --failed-transaction: #ffeded;
  --danger-color: #f21115;
  --successful-transaction: #edfff8;
  ---success-color: #02b369;
  --pending-transaction: #fff5ea;
  --pending-color: #c47010;
  --side-bar: #011745;
  --hover-state: #bfd3ff;
  --table-header: #23232475;
  --outline-border: 1px solid #cbcdcc;
  --input: #cbcdcc4d;
  --payment-input-disabled: #bfd3ff30;
}

.signup {
  width: 760px;
  text-align: center;
  padding: 1rem;
  border-radius: 1rem;
  margin: 0 auto;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-self: center;
  border-radius: 1rem;
  overflow: hidden;
}
.hero {
  background: url(../assets/signup_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* height: 489px; */
  width: 685px;
  color: var(--white);
  text-transform: capitalize;
  padding: 1rem;
}

.hero h1 {
  font-size: 14px;
  margin-top: 13rem;
  margin-bottom: 0.6rem;
  font-weight: 400;
}
.hero p {
  font-size: 0.6rem;
  font-weight: lighter;
}
.signup-cont {
  width: 375px;
  padding: 2rem;
  /* background: #ea8181; */
}
.signup-cont img {
  width: 30%;
  margin-bottom: 1rem;
}
.signup-wrapper h5 {
  text-transform: capitalize;
  text-align: left;
  font-size: var(--button-font-size);
}
.signup-wrapper p {
  font-size: 8px;
  margin-top: 0.5rem;
  text-align: left;
  margin-bottom: 1rem;
  font-weight: 300;
}
.username,
.password,
.confirm,
label {
  text-align: left;
  text-transform: capitalize;
  font-size: 14px;
}
.checkbox {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.2rem;
  margin-bottom: 0.5rem;
}
.checkbox label {
  font-size: 10px;
}
.hr {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
}
hr {
  width: 7em;
  background: #ccc;
  border: 1px solid #ccc;
  text-transform: capitalize;
}
.hr p {
  color: #484949;
  /* background: red; */
  width: 10rem
}
.signin-methods {
  display: flex;
  gap: 0.5rem;
}
.google,
.apple {
  border: 1px solid grey;
  background: #fff;
  padding: 0.3rem;
  border-radius: 0.3rem;
  height: 1.5rem;
  width: 10rem;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  gap: 0.6rem;
  justify-content: center;
  font-size: 12px;
  font-weight: lighter;
}
.google img,
.apple img {
  width: 10%;
  margin-top: 1rem;
}
.signup-wrapper h6 {
  margin-top: 0.6rem;
  text-transform: capitalize;
  font-size: 8px;
  font-weight: lighter;
}
.email1 {
  text-align: left;
  margin-top: 0.3rem;
}
