@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  --sidebar-font-size: 18px;
  --header-font-size: 16px;
  --button-font-size: 14px;
  --cards-font-size: 12px;
  --weight: 600;
  --weight2: 700;

  /* universal colors */
  --failed-transaction: #ffeded;
  --danger-color: #f21115;
  --successful-transaction: #edfff8;
  ---success-color: #02b369;
  --pending-transaction: #fff5ea;
  --pending-color: #c47010;
  --side-bar: #011745;
  --hover-state: #bfd3ff;
  --table-header: #23232475;
  --outline-border: 1px solid #cbcdcc;
  --input: #cbcdcc4d;
  --payment-input-disabled: #bfd3ff30;
}

.signup{
  width: 700px;
  height: 500px;
  padding: 1rem;
  border-radius: 1rem;
  /* background-color: red; */
  overflow: hidden;
  margin: 0 auto;
}
.wrapper{
  display: flex;
  justify-content: center;
  align-self: center;
  border-radius: 1rem;
  overflow: hidden;
}
.hero{
  background: url(../assets/signup_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 469px;
  width: 675px;
  color: var(--white);
  text-transform: capitalize;
  padding: 1rem;
}
.hero h1{
  font-size: 14px;
  margin-top: 10rem;
  margin-bottom: .6rem;
  font-weight: 400;
}
.hero p{
  font-size: 0.6rem;
  font-weight: lighter;
}
.signup-cont{
  width: 675px;
  padding: 2rem;
}
.signup-cont img{
  margin-top: 1rem;
  width: 30%;
  margin-bottom: 1rem;
}
.signup-wrapper h5{
   text-transform: capitalize;
  text-align: left;
  font-size: var(--button-font-size);
}
.signup-wrapper p{
  font-size: 8px;
  margin-top: 0.5rem;
  text-align: left;
  margin-bottom: 1rem;
  font-weight: 300;
}
.signup-wrapper input[type="email"],
input[type="password"], input[type="text"] {
  width: 100%;
  line-height: 1.5rem;
  border-radius: 0.3rem;
  height: 2rem;
  padding: 0.2rem;
  border: 1px solid #ccc;
  margin-top: 0.3rem;
}
.signup-wrapper input[type="email"]::placeholder,
input[type="password"]::placeholder input[type="text"]::placeholder {
  text-transform: capitalize;
  font-size: 11px;
  font-weight: lighter;
}
.isername label{
  text-align: left;
}