@import url(base.css);

{
    width: 50%;
}
.upcomingbills-container h1{
font-size: 12px;
margin-bottom: .5rem;
text-transform: capitalize;
}

.upcomingbills-content{
    border: 1px solid #ccc;
    border-radius: .3rem;
    padding: .5rem;

}
hr{
    background-color: transparent;
    border: 1px solid #ccccccc9;
    width: 100%;
    height: .1px;
}
.bills-wrapper{
    display: flex;
    align-items: center;
    padding: .6rem;
    text-transform: capitalize;
    justify-content: space-between;
}
.upcomingbills{
    display: flex;
    gap: .5rem;
    align-items: center;
}
.month{
    background-color: var(--hover-state);
    padding: .3rem;
    border-radius: .5rem;
    text-align: center;
    width: 37px;
    height: 31px;
     color: var(--side-bar);
}
.month p{
    font-size: .5rem;
}
.month h4{
   font-size: .6rem;  
  
}
.info p{
font-size: .5rem;
}
.info h6{
font-size: .5rem;
color: var(--outline-border);
}
.amount{
font-size: .6rem;
border: 1px solid var(--outline-border);
padding:.5rem;
border-radius: .4rem;
}
@media screen and (max-width:768px) {
    .upcomingbills-container{
width: 100%;
    }
}

