

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.open-button {
  padding: 12px 20px;
  font-size: 16px;
  font-weight: bold;
  background-color: #5b8cff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.confirm-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(15, 19, 32, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
}

.confirm {
  background-color: #ffffff;
  border: 1px solid #2a3354;
  border-radius: 16px;
  width: 500px;
  padding: 24px;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.5);
}

.confirm-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo-circle {
  width: 36px;
  height: 36px;
  /* background-color: #1a2340; */
  /* border: 1px solid #2a3354; */
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 
.logo-square {
  width: 14px;
  height: 14px;
  background-color: #9aa8ff;
  border-radius: 3px;
}

.logo-dot {
  position: absolute;
  right: 6px;
  bottom: 6px;
  width: 6px;
  height: 6px;
  background-color: #5b8cff;
  border-radius: 50%;
} */

.logo-text {
  font-weight: bold;
  font-size: 18px;
}

.header-info {
  text-align: right;
  font-size: 14px;
}

.header-info span {
  color: #b6c0d4;
  margin-right: 6px;
}

hr {
  border: none;
  border-top: 1px solid #1f2740;
  margin: 16px 0;
}

.modal-body {
  font-size: 14px;
}

.section-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
}
.section-title h4{
    font-size: .7rem;
}
.confirm-body p{
    font-size: .6rem;
}

.timer {
  /* background-color: #1a2340; */
  color: var(--side-bar);
  /* border: 1px solid #2a3354; */
  border-radius: 10px;
  padding: 4px 10px;
  font-weight: bold;
}

.details {
  margin-top: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  background-color: var(--payment-input-disabled);
  padding: .5rem;
  border-radius: .6rem;
  font-size: .7rem;
}

.details label {
  font-size: .6rem;
  color: #b6c0d4;
  display: block;
  margin-bottom: 4px;
}

.details div {
  border-radius: 10px;
  padding: 10px;
  font-weight: bold;
}

.modal-actions {
  margin-top: 4rem;
  display: block;
}

.confirm-button {
  flex: 1;
  background: var(--side-bar);
  color: white;
  border: none;
  width: 100%;
  border-radius: 10px;
  padding: 12px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 1rem;
}

.back-button {
  flex: 1;
  background: transparent;
  color: var(--side-bar);
  border: 1px solid #2a3354;
  border-radius: 10px;
  padding: 12px;
  width: 100%;
  font-weight: bold;
  cursor: pointer;
}
